.click-wrap, .species-wrap{
  display:none;
}
.selected-row{
  font-weight:bold; color: #21658c;
}

/* Species table */
.species-wrap table {
  font-family: 'Arial';
  border-collapse: collapse;
  border: 1px solid #ddd;
  box-shadow: 0 1px 1px rgba(16,22,26,.2);
  width:563px;
}   
.species-wrap tr:hover {
  background:#e1e7eb;
  cursor:pointer;
}
.species-wrap th, .species-wrap td {
  border: 1px solid #eee;
  padding: 5px;
  border-collapse: collapse;
  font-size: 12px;
}
.species-wrap th {
  color: #5d6165;
  background: #f4f4f4;
  text-transform: uppercase;
  font-size: 12px;
  border-bottom: 2px solid #eee;
  &.last {
    border-right: none;
  }
}

/* Migration graph */
.migration-wrap{
  border: 1px solid #ddd; box-shadow: 0 1px 1px rgba(16,22,26,.2); width:563px;
}
.mig-toprow{
  display:flex; align-items:flex-end; font-weight:bold; font-size:12px; padding:5px;
}
.mig-row{
  display:flex; height:40px; align-items:center; border-top:1pt solid #555; font-size:12px; padding:5px;
}
.mig-row:hover {
  background:#e1e7eb;
  cursor:pointer;
}
.mig-name{
  margin-right:6px; width:90px;
}
.mig-lifestage{
  margin-right:6px; width:70px;
}
.mig-months-top{
  width:33px; text-align:center;
}
.mig-months{
  height:20px; width:33px; border-top:1pt solid #555; border-bottom:1pt solid #555;
}
.first-month{
  border-left:1pt solid #555; border-top-left-radius:3px; border-bottom-left-radius:3px;
}
.last-month{
  border-right:1pt solid #555; border-top-right-radius:3px; border-bottom-right-radius:3px;
}
.mig-0{
  background:#A1BF54;
}
.mig-1{
  background:#bfa854;
}
.mig-2{
  background:#CEE6F2;
}
.mig-3{
  background:#C65B25;
}


