#search{
	display:none !important;
}
.flex-wrap{
	display:flex;
}
.lyr-stats{
	display:none;
}
.att-div{
	width:124px; margin:3px; border:1pt solid #cdd5d5; padding:5px; box-shadow:0 1px 1px rgba(16,22,26,.2); position:relative;
}
.sum-att{
	color:#623C25; font-size:24px; font-weight:bold; text-align:center;
}
.sum-att-label{
	font-size:10px; text-align:center; margin:-5px 0 5px 0;
}
.sum-att-label1{
	font-size:14px; text-align:center; margin:-5px 0 -1px 0;
}
.sum-label{
	font-weight:bold; text-align:center;
}
.c-sel{
	display:none;
}
.dl-wrap{
	margin-left:6px; text-align:center;
}
.pathway-wrap{
	width:340px; margin-left:-10px;
}
.pathway-label-wrap{
	width:52px; display:flex; flex-direction:column; height:260px; margin-top:10px; text-align:right;
}
.pathway-label{
	flex:1; color:#623C25; font-weight:bold;
}
.pathway-units{
	position:absolute; top:-5px; left:2px; font-size:11px; font-weight:bold;
}
.pathway-name-wrap{
	display:flex; flex-direction:column; height:260px; position:absolute; top:10px; left:68px; 
}
.pathway-name{
	flex:1;
}
.pathway-arrow-wrap{
	display:flex; flex-direction:column; height:260px; position:absolute; top:8px; left:372px;	
}
.pathway-name{
	flex:1;
}
.pathway-arrow{
	flex:1; 
}
.p-a{
	color:#623C25; font-weight:bold; font-size:14px;
}
.commitment-wrap{
	width:300px; margin-top:2rem;
}
.lgnd-box{
	height:20px; width:24px; margin:8px 8px 0 4px;
}
.mp-box{
	background:#408CB4; box-shadow:0 1px 1px rgba(16,22,26,.2);
}
.dg-box{
	background:#8fb440; box-shadow:0 1px 1px rgba(16,22,26,.2);
}
.lgnd-text{
	font-size:11px; width:70px;
}
.lgnd-wrap{
	margin-top:42px; margin-left:4px;
}
.lbl-wrap{
	display:flex; font-size:11px; margin:-25px 0px 6px 50px; width:220px;
}
.nd_attWrap{
	display:flex; flex-wrap:wrap;
}	
.nd_attBox{
	width:352px; margin:3px; border:1pt solid #cdd5d5; padding:5px; box-shadow:0 1px 1px rgba(16,22,26,.2); position:relative;
}
.nd_attSpan{
	font-weight:bold;
}
.attWrap{
	display:none;
}
.lyr-stats .toggle-btn {
    margin-left:-8px;
    margin-right: -8px;
    margin-bottom: 10px !important;
    background: #f3f3f3;
    border-bottom: 1px solid #cdd5d5 !important;
    border-top: 1px solid #cdd5d5 !important; flex-wrap:wrap;
}
.lyr-stats .toggle-btn label {
    margin: 8px 5px 0px -6px !important;
    flex: none !important;
    padding: 5px 10px !important;
    border-bottom: none !important;
}
.lyr-stats .toggle-btn label:first-of-type, .lyr-stats .toggle-btn label:last-of-type {
    border-radius: 0 !important;
}
.lyr-stats .toggle-btn label:first-of-type, .lyr-stats .toggle-btn label:last-of-type {
    border-radius: 0 !important;
}
/*.habDes{
	display:none; margin-left:-20px;
}
.projDes{
	display:none; margin-left:-20px;
}
.cstDes{
	display:none; margin-left:-20px;
}*/
.circle{
	border-radius:50%; width:15px; height:15px; border:1px solid #000; margin-right:3px; margin-top:1px;
}
